<form id="static-form" method="post">
  <div class="form-group">
    <label for="number">Fibonacci Number</label>
    <input type="number" class="form-control" id="number" name="number" placeholder="Provide index" value="{{firstNumber}}" autofocus>
  </div>
  <div class="form-group hidden" id="error-container">
    <div class="error-list">
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-default">Submit</button>
  </div>

  <ol class="form-group" id="results">
  </ol>
</form>