<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/public/css/site.css">
  <title>{{title}}</title>
</head>
<body>
  <main id="main-body">
    {{{body}}}
  </main>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src='../../public/js/main.js'></script>
</body>
</html>