<header><h1>Ajax</h1></header>
<main>
  <form action="" id="searchForm">
  <label for="search_term">Search Input</label>
  <input type="text" id="search_term" autofocus>
  <button type="submit">Search</button>
  <p id="error"></p>
</form>

<ul id="showList" class="hide">
</ul>

<div id="show" class="hide"></div>

<a href="/" id="homeLink" class="hide">Back to All Shows</a>

</main>
<footer>Sonali Chavan 10459154</footer>

